/*custom fixes*/

#chapter h1 {
    font-size: 2.25rem;
}

#sidebar #logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

/*custom langswitcher css*/
#top-langswitcher {
    position: relative;
    z-index: 1;
    display: block;
    top: 50%;
    margin-right: 20px;
}

#top-langswitcher ul {
    margin: 0;
}

#top-langswitcher li {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1rem;
}

#top-langswitcher .active {
    font-weight: bold;
    text-decoration: underline;
}
